.Btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 102%;
  height: 102%;
  background-color: #417deec7;
  z-index: -1;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  filter: blur(6px);
}
.BtnM::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 102%;
  height: 102%;
  background-color: #34495e;
  z-index: -1;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  filter: blur(6px);
}
